@media (min-width: 1200px){
    .getEbookTitle{
        margin-left:-154px
    }
}



@media (max-width: 1200px){
    
    div#formContainer p.formPreview {
        position: absolute;
        top: 173px;
        font-size: 0.89em;
        left: 50%;
        width: 274px;
        height: 81px;
        margin-left: -42px;
        margin-top: -19px;
    }
    div#formContainer form#userForm{
        position: absolute;
        top: 205px;
        left: 50%;
        width: 300px;
        height: 100px;
        margin-left: -42px;
        margin-top: -19px;
    }
    div#formContainer form#userForm input {
        margin-top: 2%;
        border: 1px solid #5023b1;
        height: 20px;
        font-size:0.75em;
        display: block;
      }
  

    div#formContainer form#userForm input.texts {
        width:90%;
    }
    .packeges li{
        font-size: 0.85vw;
    }

    div.rewardsSection div.rewards .packeges{
        left:52%;
    }        
    
    
   div.rewardsSection div.rewards .buyNow{
            left:39.5%;    
    }
}

@media (max-width: 991px) {

    .header_img .explanation{
        text-align:justify;
        font-size: 0.7em;
    }
    div#formContainer form#userForm input {
        margin-top: 2%;
        height: 22px;
        font-size: 0.7em;
        display: block;
    }     
    div#formContainer form#userForm input.texts {
        width:90%;
        border: 1px solid #5023b1;
    }
    div.rewardsSection div.rewards .packeges{
        left:56%;
    }         
    div.rewardsSection div.rewards .packeges li{
        font-size:2.35vw;
        margin-top:22px;
    }
   div.rewardsSection div.rewards .buyNow{
            left:39.5%;    
    }
}      

@media (max-width: 500px) {

    h1{
        font-size:25px;
    }
    .header_img .siteTitle{
        font-size: 0.9em;
    }
    .header_img .explanation{
        text-align:justify;
        font-size: 0.8em;
    }
    div#formContainer form#userForm{
        position: absolute;
        top: 205px;
        left: 50%;
        width: 300px;
        height: 100px;
        margin-left: -42px;
        margin-top: -19px;
    }
    div#formContainer form#userForm input {
        margin-top: 1.5%;
        height: 17px;
        font-size: 0.7em;
        display: block;
    }
    div#formContainer p.formPreview {
        position: absolute;
        top: 187px;
        left: 50%;
        font-size: 0.6em;
        width: 212px;
        /* height: 81px; */
        margin-left: -42px;
        margin-top: -19px
    }
    div#formContainer form#userForm input.texts {
        width:75%;
        border: 1px solid #5023b1;
    }
  
    div.rewardsSection div.rewards .packeges{
        left:52%;
    }         
    .packeges li{
        font-size: 0.67em;
    }
   div.rewardsSection div.rewards .buyNow{
            left:39.5%;    
    }
}

@media (max-width: 400px) {
    div#formContainer form#userForm input.texts{
        width:60%;
        border: 1px solid #5023b1;
    } 
}




